<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Display Book</title>

  {%load static%}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
  <div id="container">
    <div id="box">
      <h1>{{book.title}}</h1>
      <p><strong>ID:</strong> {{book.id}}</p>
      <p><strong>Description:</strong> {{book.desc}} </p>
      <h5>Authors:</h5>
      <ul>
        {% for author in book.authors.all%}
        <li>{{author.first_name}} {{author.last_name}}</li>
        {%endfor%}
      </ul>
      <form action="/add_author/{{book.id}}" method="POST">
        {%csrf_token%}
        <select name= "author" style="width: 200px;">
          {%for author in authors_excluded%}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
          {%endfor%}
        </select>
        <button>Add</button>
      </form>
    </div>
  </div>


</body>
</html>